<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true">
	<logger name="shadorc.event" level="DEBUG" />
	<logger name="discord4j.rest" level="TRACE" />
	<logger name="discord4j.gateway.inbound" level="DEBUG" />
	<logger name="discord4j.dispatch" level="DEBUG" />
	
	<turboFilter class="me.shadorc.shadbot.logback.GatewayEventFilter">
        <exclude>PRESENCE_UPDATE</exclude>
    </turboFilter>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger{39}: %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/shadbot.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>100</maxHistory>
        </rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %logger{39}: %msg%n</pattern>
		</encoder>
		<prudent>true</prudent>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<appender-ref ref="FILE" />
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ASYNC" />
	</root>
</configuration>